:root {
  //fonts
  --font-family: 'Inter', sans-serif;

  --button-font-size: 16px;
  --button-font-line: 24px;
  --button-font: 600 var(--button-font-size) / var(--button-font-line)
    var(--font-family);

  //colors
  --primary-color: #1975ff;
  --primary-hover-color: #0052cc;
  --primary-disabled-color: #cce0ff;
  --tertiary-color: #f9fafb;

  --border-light-color: #ced2da;
  --border-medium-color: #97a1af;

  --text-primary-color: #141c24;
  --text-secondary-color: #344051;
  --text-tertiary-color: #637083;
  --text-invert-color: #ffffff;

  --focused-color: #4c94ff;
  --error-color: #f64c4c;
}
